openapi: "3.0.1"
info:
  title: "streaming-lambda-api"
  version: "1.0.0"
paths:
  /ask:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                request:
                  type: string
                  description: "The request to send to agent"
              required:
                - request
      responses:
        "200":
          description: "Streaming response from agent"
          content:
            text/plain:
              schema:
                type: string
      x-amazon-apigateway-integration:
        uri:
          Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2021-11-15/functions/${StreamingResponseFunction.Arn}/response-streaming-invocations"
        httpMethod: "POST"
        responseTransferMode: "STREAM"
        type: "aws_proxy"
